@import '../../styles/media'
@import '../../styles/mixins'

.project
  background: url(/images/Thur.svg) no-repeat 98% 80% / 400px
  height: 100vh
  filter: grayscale(100%)

  @include mobile
    background-position-y: 50px
  
  @include tablet
    background: none
  
  .wrapper
    display: grid
    align-items: center
    height: 100%
    
  .heading-container
    display: flex
    flex-direction: column
    padding-block-start: 3em
    margin-inline-start: 6em
    gap: 5em

    @include mobile
      padding: 0
      margin: 0
      gap: 2em
      padding-inline-start: 3em
      margin-block-start: -1em

.links-list
  ul
    list-style: none
    display: flex
    flex-direction: column
    gap: 9px

.project-links
  @include applyTextColors(white)
  text-decoration: underline
  font-size: 2rem
  color: initial

.project-heading
  @include applyTextColors(white)
  width: fit-content
  font-size: 4rem