@import '../../styles/media'

.logo-container
  margin-inline: auto
  
  @include mobile
    display: none
  @include tablet
    display: block
  
  svg
    width: 60px
    height: fit-content

@media (prefers-reduced-motion)
    .path
      animation: none!important
      stroke-dasharray: unset!important
