@import '../../styles/mixins'
.social
  display: flex
  gap: 9px

  img
    @include applyFilterColors(4)
    width: 20px
    height: 20px
    transition: transform 0.3s ease-in-out 
  
  a:hover img
    transform: scale(1.2)