@import '../../styles/media'
@import '../../styles/mixins'
$paradise-pink: #E35461

.about
  height: 100%

  @include mobile
    display: grid
    align-items: center

  .wrapper
    display: grid
    grid-template-columns: repeat(2, 1fr)
    align-content: center
    height: 100%
    max-width: 1300px
    margin-inline: auto

    @include mobile
      display: flex
      flex-direction: column-reverse
      justify-content: center
      padding-inline-start: 0.9em
      padding-block-start: 0.3em
      gap: 20px
      height: 100%

    .details
      padding-block-start: 1em

      @include mobile
        padding-block-start: 0
      
      h2
        font-size: 3rem
        width: fit-content
        text-align: center

        @include mobile
          width: 100%
          margin-block-start: 1em
      
    .info
      display: flex
      flex-direction: column
      gap: 1em
      margin-inline-start: 2em
      align-self: center

      @include mobile
        width: 100%
        // align-items: center
        margin: 0

      ul
        display: flex
        flex-wrap: wrap
        gap: 6px
        max-width: 80%

        @include mobile
          // display: none

        li
          @include applyBackgroundColors(white)
          list-style: none
          border-radius: 8px
          padding: 0.3em
          padding-inline: 0.6em
          background-color: rgb(23,23,23)
          span
            @include applyTextColors(black)
            font-size: 0.9rem
            font-weight: 700
            color: white
          
      h2
        font-size: 1.3rem
        font-weight: 700
        text-decoration: underline
        padding: 0.3em

.text
  width: 70%
  display: flex
  flex-direction: column
  gap: 9px

  @include mobile
    width: 95%
    margin: 0 auto
    text-align: center

  h3
    font-weight: 520

    @include mobile
      font-size: 1.2rem
  
  p
    font-weight: 400
    margin-block-start: 0.6em

.resume-link
  display: inline-block
  width: fit-content

.get-resume
  @include applyBorderColors(white)
  @include applyTextColors(white)
  position: relative
  z-index: 1
  display: flex
  align-items: center
  gap: 3px
  appearance: none
  outline: none
  border: 1px solid black
  text-align: left
  color: black
  width: fit-content
  padding: 0.9em
  text-transform: uppercase
  background: none
  cursor: pointer
  font-size: 1rem
  font-weight: 600

.links-list
  ul
    list-style: none
    display: flex
    flex-direction: column
    gap: 9px

.project-links
  @include applyTextColors(white)
  text-decoration: underline
  text-transform: capitalize
  font-size: 1.2rem
  color: initial

.tech-list
  display: grid
  gridTemplateColumns: repeat(auto-fill, 120px)
  gap: 10px
  listStyle: none
  @include mobile
    display: none
  

.get-resume::after
  content: ''
  background-color: black
  @include applyBackgroundColors(white)
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  transform: scaleX(0)
  transform-origin: left
  z-index: -1
  transition: transform 0.3s linear

.get-resume:hover:after
  transform: scaleX(1)
    
.get-resume:hover
  @include applyTextColors(black)
  color: white