@import '../../styles/mixins'
.theme-toggle-container
  position: fixed
  top: 28px
  left: 100px
  z-index: 10

  .theme-btn
    cursor: pointer
    appearance: none
    background: none
    border: none
    outline: none