@import '../../styles/mixins'
.theme-toggle-container
  position: fixed
  top: 38px
  left: 100px
  z-index: 999

.theme-bg
  @include applyBackgroundColors($darkColor: white)
  position: fixed
  background-color: black
  top: 0
  right: 0
  bottom: 0

.theme-btn
  position: relative
  cursor: pointer
  appearance: none
  background: none
  border: none
  outline: none